@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
  margin:0;
  padding: 20px;
  font: 12px "Muli", Helvetica, Arial, sans-serif;
  position: relative;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  color: #1076BC;
  margin: 5px 0 5px 0;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  color: #1076BC;
  margin: 0 0 5px 0;
}

h3 {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 5px 0;
}
h4 {
  font-size: 8px;
  margin-top: 0px;
  margin-bottom:5px;
}
p{
  line-height: 2em;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.logo {  
  max-width: 100px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#summary-table {
  min-width: fit-content;
  max-width: 300px;
  margin-bottom:50px;
  border-radius: 15px;
  box-shadow:0 6px 6px rgba(16, 118, 188,0.20);
}
.sumtable{
  width: 100%;
  border-radius: 15px;
}
.sumtable td{
  padding: 20px;
}
.summarytitle{
  background-color: rgba(16, 118, 188,0.2);
  font-weight: 600;
  min-width: 150px;
}
.st1{
  border-radius: 15px 0 0 0;
}
.st4{
  border-radius: 0 0 0 15px;
}
.aright{
  text-align: right;
}
#details {
  width: 100%;
}
.dtable{
  width: 100%;
  text-align: center;
}
th{
  color: rgb(16, 118, 188);
}
th,td{
  font-size: 8;
  padding:10px;
  padding-right: 10px;
  padding-left: 10px;
}
#text-template{
display: none;
}
.tleft {
  text-align: left;
  max-width: 100px;
}
.checkindate{
  max-width: 50px;
  font-size: 8px;
}
.total {
  text-align: right;
  color: #1076BC;
  font-weight: 700;
  max-width: 100px;
  font-size: 14px;
  overflow-x: visible;
}
table,td,th{
  /* border-bottom: 1.5px solid rgba(7,49,75,10%); */
  border-collapse: collapse;
}
.bundlerow {
  background-color:  rgba(16, 118, 188,0.20);
}
.borderbottom{
  border-bottom: 1px solid rgba(16, 119, 188,0.5);
}
.info {
  color: #1076BC;
}
#footer{
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 25px;
  justify-content: space-between;
  height: 200px;
}
.owner-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  align-items: flex-start;
  bottom: 0;
}
.rizkyright{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
}
.rizky{
  border-radius: 100%;
  max-width: 125px;
  border: 1px dashed rgba(16, 119, 188, 0.18);
}