@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
  margin:0;
  padding: 20px;
  font: 12px "Muli", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 5px 0;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  color: #1076BC;
}

h3 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}
h4 {
  font-size: 8px;
  margin-top: 0px;
  margin-bottom:5px;
}
p{
  line-height: 2em;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {  
  max-width: 150px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#summary-table {
  width: 100%;
  margin-bottom:20px;
}
.aright{
  text-align: right;
}
/* .container {
  display: grid;
  max-width: 300px;
  row-gap: 10px;
}
.item-a {
  grid-column-start: 1;
  border-bottom: 1.5px solid rgba(7,49,75,20%);
}

.item-b {
  grid-column-start: 2;
  grid-row-start: 1;
}
.two {
  grid-column-start: 2;
  grid-row-start: 2;
}
.three {
  grid-column-start: 2;
  grid-row-start: 3;
} */
#details {
  width: 100%;
}
.dtable{
  width: 100%;
  text-align: center;
}
th{
  color: #1076BC;
}
th,td{
  padding:10px;
  padding-right: 15px;
  padding-left: 15px;
}
#text-template{
display: none;
}
.tleft {
  text-align: left;
}
table,td,th{
  /* border-bottom: 1.5px solid rgba(7,49,75,10%); */
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: rgba(7,49,75,5%);
}

#footer{
  margin-top: 25px;
}